# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
.venv/

# Distribuições e pacotes
build/
dist/
*.egg-info/
.eggs/

# Logs e arquivos temporários
*.log
*.tmp
*.bak

# Arquivos de editor
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
